<ion-header>
  <ion-toolbar>
    <ion-title>
      PokeHome
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="gotoFavorite()">Voir les favoris</ion-button>
  <div class="ion-padding">
    <ion-searchbar [(ngModel)]="searchInput" (search)="searchPoke($event)"></ion-searchbar>
    <ion-card *ngFor="let p of pokemons" (click)="gotoDetail(p)">
      <ion-card-header>
        {{p.name | uppercase}}
      </ion-card-header>
      <ion-card-content>
        <ion-img [src]="p.picture"></ion-img>        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
